.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 85px;
  padding: 20px;
  color:black;
}

.App-quotes {
  position: relative;
  top: 140px;
  font-size: 350%;
  text-align: center;
}

